


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.box{
    justify-content: center;
    display: flex;
    align-items: center;
}


.main{
    height: 600px;
    width: 470px;
    background-color: rgba(7, 27, 39, 0.815);
    border-radius: 5%;
    margin-top: 190px;
    position: relative;
    
}



.box .img-area{
    width: 250px;
    height: 250px;
    border: 14px solid #f356c6;
    border-radius: 50%;
    margin-top: -105px;
    background-color: white;
    background-image: url("../image/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  
}

.box .screen{
    display: flex;
  justify-content: center;
}


.box .name p{
    color: #f356c6;
    text-align: center;
    margin-top: 70px;
    font-size: 53px;
    font-weight: bold;
}


.box .email p{
    font-size: 29px;
    color: #838383;
    text-align: center;
    margin-top: 15px
}

.box .devdes p{
    font-size: 31px;
    text-align: center;
    margin-top: 16px;
    color: white;
}
    
.box .icons{
    height: 115px;
    width: 470px;
    margin-left: 20px;
    margin-top: 30px;
}
.box .icons i{
    margin-left: 5px;
    width: 100px;
    height: 100px;
    background-color: #f356c6;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-top: 20px;

    

}

.box .icons .item{
    font-size: 60px;
}

.box .footer{
    height: 100px;
    background-color: #f356c6;
    margin-top: 57px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 20px;
    margin-left: -20px;
    padding-top: 27px;
    font-size: 28px;
    text-align: center;
    color: white
}